---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Currently...",
    title: "Software Developer - Net Tech International SRL",
    description: `I am currently working on migrating internal systems to new technologies, focusing on developing modern and efficient interfaces. My work involves:
          Next.js
          React
          Ant Design (Antd)
          Zustand for state management
          React Query for asynchronous data handling
          Vitest for unit testing
          Storybook for component documentation
      `,
  },
  {
    date: "jul. 2019 - nov. 2021 · 2 years 5 month",
    title: "Full Stack Developer - EDESSIS , S.R.L",
    description:
      "I developed a customer service rating system currently used by the company Mundo Móvil. I utilized PHP with the Laravel framework, HTML, CSS, JavaScript, JQuery, MySQL, and GIT. I also contributed to the development of a WhatsApp-integrated chat-bot for a cooperative, enabling customers to check their account status, package messages, product catalogs by price level, and other features. For this project, I used Node.js and GIT. I participated in the creation of modules for the Enterprise Resource Planning (ERP) system, addressing integration challenges with Amazon S3. I used PHP, HTML, GIT, CSS, Bootstrap, jQuery, JavaScript, Amazon S3, MySQL, and PostgreSQL. I collaborated in the creation of a mobile messaging application for Mundo Móvil, implementing various techniques and geolocation integration. This was developed with NativeScript + Angular, TypeScript, and GIT. Additionally, I worked on a sales statistics project for Mundo Móvil, migrating to Power BI for its ease of use. I performed the integration between Power BI and the company's internal sales system using PHP, Vue, GIT, MongoDB, Node.js, Express.js, Bootstrap, and Power BI.",
  },
  {
    date: "feb. 2018 - mar. 2019 · 1 year 2 month",
    title: "Junior Developer FoxPro - Proyectos Informaticos S.A.",
    description: `I developed internal modules for the accounting software of PROISA and collaborated in the development of the system for the Cars Store vehicle agency. Additionally, I participated in optimizing the database in Microsoft SQL Server. I was also part of a small team that worked on the web application currently used at Cibao Stadium, specifically in the Food Trucks section, utilizing PHP and Microsoft SQL Server.`,
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
