---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Software Developer - Net Tech International SRL",
    description:
      "",
  },
  {
    date: "jul. 2019 - nov. 2021 · 2 años 5 meses",
    title: "Full Stack Developer - EDESSIS , S.R.L",
    description:
      "Desarrollé un sistema de calificación para la evaluación del servicio al cliente, actualmente utilizado por la empresa Mundo Móvil. Utilicé PHP con el framework Laravel, HTML, CSS, JavaScript, JQuery, MySQL y GIT. También contribuí al desarrollo de un chat-bot integrado con WhatsApp para una cooperativa, permitiendo a los clientes consultar el estado de sus cuentas, mensajes de paquetes, catálogo de productos según el nivel de precios, entre otras funciones. Usé Node.js y GIT para este proyecto. Participé en la creación de módulos para el sistema de planificación de recursos empresariales (ERP), abordando desafíos de integración con Amazon S3. Utilicé PHP, HTML, GIT, CSS, Bootstrap, jQuery, JavaScript, Amazon S3, MySQL y PostgreSQL. Colaboré en la creación de una aplicación móvil de mensajería para la empresa Mundo Móvil, implementando diversas técnicas y la integración de geolocalización. Se desarrolló con NativeScript + Angular, TypeScript y GIT. Además, trabajé en un proyecto de estadísticas de ventas para Mundo Móvil, migrando a Power BI por su facilidad de uso. Realicé la integración entre Power BI y el sistema interno de ventas de la empresa, utilizando PHP, Vue, GIT, MongoDB, Node.js, Express.js, Bootstrap y Power BI.",
  },
  {
    date: "feb. 2018 - mar. 2019 · 1 año 2 meses",
    title: "Junior Developer FoxPro - Proyectos Informaticos S.A.",
    description: `Elaboré módulos internos para el software contable de PROISA y colaboré en el desarrollo del sistema para la agencia de vehículos Cars Store. Además, participé en la optimización de la base de datos en Microsoft SQL Server. También formé parte de un pequeño equipo que trabajó en la aplicación web utilizada actualmente en el Cibao Stadium, específicamente en la sección de Food Trucks, utilizando PHP y Microsoft SQL Server.`
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
